{:name "user"
 :db {:port     "5432"
      :host     "database"
      :user     "postgres"
      :password "password"
      :db       "mdm"}
 :rabbitmq {:username "guest"
            :password "guest"
            :vhost    "/"
            :host     "rabbitmq"
            :port     5672}}
